html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 10px;
}

.nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.nav_column {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 5px;
}

.nav_column a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
}
.nav_column a:hover {
  background-color: #cccccc;
}

.header {
  margin-top: 40px;
  text-align: center;
  font-size: 3.6rem;
  line-height: 54px;
  color: white;
}

.header_title {
  position: absolute;
  top: 450px;
  left: 600px;
  letter-spacing: 5px;
}

.header_BR {
  background-color: black;
  padding: 8px 16px;
}
.content {
  margin: 0px 40px;
}

.projects_title {
  margin-bottom: 50px;
  border-bottom: 1px solid #cccccc;
}

.projects_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.projects_house {
  position: relative;
}

.projects img {
  height: 230px;
}

.projects_house .house-title {
  position: absolute;
  background: black;
  color: white;
  font-size: 1.5rem;
  line-height: 23px;
  font-family: Verdana, sans-serif;
  padding: 10px 20px;
  top: 0;
  left: 0;
}

.content .about {
  background-color: aquamarine;
}
.content .contact {
  background-color: azure;
}
.content .content_img {
  background-color: blueviolet;
}
.footer {
  background-color: bisque;
}
