*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

/*top section*/
.top {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 45px;
  top: 0;
}

.top .top__bar {
  color: #fff !important;
  background-color: black !important;
  width: 100%;
  overflow: hidden;
}

.top__bar .top__bar__item {
  text-decoration: none;
  white-space: normal;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  padding: 12px 24px !important;
  color: inherit;
  overflow: hidden;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}

.top__bar .top__bar__dropdown {
  position: static;
  display: inline-block;
  cursor: pointer;
}

.top__bar__dropdown .top__bar__dropdown__button {
  background-color: red;
  padding: 12px 24px !important;
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  font: inherit;
  margin: 0;
}

.top__bar .top__bar__search {
  float: right;
  padding: 12px 24px !important;
  color: inherit;
  background-color: transparent;
}

.top__bar .top__bar__search:hover {
  background-color: red;
}

.top__bar .top__bar__item:hover,
.top__bar__dropdown:hover {
  background-color: #ccc;
  color: black;
}

.top__bar__dropdown .dropdown__content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.top__bar__dropdown:hover .dropdown__content {
  display: block;
}

.dropdown__content .dropdown__content__item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
  text-decoration: none;
  color: black;
  background-color: white;
}

.dropdown__content .dropdown__content__item:hover {
  background-color: #ccc;
  display: block;
}

/*end top*/

/*content section*/
.content {
  max-width: 2000px;
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
}

/*slides section*/
.content__slide:nth-child(1) {
  display: block;
  text-align: center !important;
}

.content__slide:nth-child(2) {
  display: none;
  text-align: center !important;
}

.content__slide:nth-child(3) {
  display: none;
  text-align: center !important;
}

.content__slide {
  position: relative;
}

.content__slide img {
  width: 100%;
}

.content__slide .slide__bottommiddle {
  color: white;
  bottom: 0;
  left: 50%;
  padding: 32px 16px;
  text-align: center;
  position: absolute;
  transform: translate(-50%, 0%);
  line-height: 1.5;
}

.slide__bottommiddle h3 {
  margin: 10px 0;
  font-size: 24px;
}

.slide__bottommiddle p {
  margin: 15px 0;
  font-size: 15px;
}

/*end slides section*/

/*band section*/
.content__band {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 64px 16px !important;
}

.content__band h2 {
  font-size: 30px;
  font-family: "Segoe UI", Arial, sans-serif;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
}

.content__band .content__band__title {
  opacity: 0.6;
  margin: 15px 0;
  text-align: center;
}

.content__band .content__band__content {
  margin: 15px 0;
  text-align: justify !important;
  box-sizing: inherit;
}

.content__band__profiles {
  display: flex;
  padding: 32px 0px;
  justify-content: space-around;
}

.content__band__profiles::before {
  content: "";
  display: table;
  clear: both;
}

.content__band__profiles::after {
  content: "";
  display: table;
  clear: both;
}

.content__band__profiles__item img {
  width: 153px;
  height: 153px;
}

.content__band__profiles__item p {
  text-align: center;
  margin: 15px 0px;
}
/*end band section*/

/*start tour section*/
.content__black {
  background-color: black;
}

.content__tour {
  max-width: 800px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
}

.content__tour .content__tour__title {
  font-size: 30px;
  margin: 10px 0;
  letter-spacing: 4px;
  text-align: center !important;
}

.content__tour .content__tour__p {
  font-style: italic;
  opacity: 0.6;
  margin: 15px 0;
  text-align: center !important;
}

.content__tour .content__tour__date {
  color: #757575 !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content__tour__date .tour__date__month {
  padding: 8px 16px !important;
  border-bottom: 1px solid #ddd;
}

.tour__date__month .date__month__sold {
  background-color: #f44336 !important;
  color: white !important;
  margin-left: 16px;
  padding: 0 8px;
  text-align: center;
  display: inline-block;
}

.tour__date__month .date__month__badge {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 0px 8px;
  margin-right: 16px !important;
  float: right;
}

.content__tour .content__tour__tickets {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  padding: 0 8px;
  margin: 0 -16px;
}

.content__tour .content__tour__tickets::before {
  content: "";
  display: table;
  clear: both;
}

.content__tour .content__tour__tickets::after {
  content: "";
  display: table;
  clear: both;
}

.content__tour__tickets .tour__ticket {
  padding: 0 8px;
  margin-bottom: 16px !important;
  float: left;
}

.tour__ticket .ticket__img {
  width: 100%;
  vertical-align: middle;
}

@media (min-width: 601px) {
  .tour__ticket {
    width: 33.3%;
  }
}

.tour__ticket .ticket__content {
  color: black !important;
  background-color: white !important;
  padding: 0.01em 16px;
  float: left;
  text-align: left;
}

.tour__ticket h5,
p {
  font-size: 15px;
  margin: 15px 0;
}

.tour__ticket .ticket__date {
  opacity: 0.6;
}

.tour__ticket button {
  margin-bottom: 16px !important;
  color: white !important;
  background-color: black !important;
  float: left;
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  color: white;
  background-color: black;
}
/*end tour section*/

.content__contact {
  text-align: center;
  padding: 64px 16px !important;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.content__contact .content__contact__info {
  padding: 32px 0 !important;
}

/*start contact section*/
.content__contact .content__contact__p {
  font-size: 15px;
  margin: 15px 0;
}

@media (min-width: 601px) {
  .content__contact .contact__column {
    width: 49.9%;
  }
  .contact__input__column {
    width: 49.9%;
  }
}

.content__contact .contact__column {
  float: left;
}

.content__contact .column__info {
  margin-bottom: 16px !important;
  font-size: 18px !important;
  text-align: left;
}

.contact__column i {
  width: 30px;
}

.contact__column input {
  padding: 8px 8px;
  border: 1px solid #ccc !important;
  width: 100%;
}

.contact__column .contact__input__column {
  float: left;
  padding: 0 8px;
}

.contact__column .contact__row {
  margin: 0 -16px 8px -16px;
  padding: 0px 8px;
  height: 40px;
}

.contact__column .contact__btn {
  margin: 16px 0;
  padding: 8px 16px;
  float: right !important;
}

.content__contact .contact__info::after {
  content: "";
  display: table;
  clear: both;
}

/*end contact section*/

/*start footer*/
footer {
  padding: 64px 16px;
  color: black !important;
  background-color: #f1f1f1 !important;
  text-align: center !important;
  font-size: 24px !important;
  opacity: 0.6;
  text-decoration: none;
}

footer .footer__p {
  margin: 15px 0;
}

footer a {
  color: black !important;
}
/*end footer*/
